<div class="container">

  <div>
    <acme-navbar creation-date="about.creationDate"></acme-navbar>
  </div>

  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">太仓市空气质量监控</h3>
    </div>
    <div class="panel-body">
      <p>日期: {{about.today1}}</p>
      <p>
        <strong>二氧化硫:</strong> {{about.so2}}毫克/立方米&nbsp;&nbsp;&nbsp;<strong>二氧化氮:</strong> {{about.no2}}毫克/立方米&nbsp;&nbsp;&nbsp;
        <strong>PM2.5:</strong> {{about.pm25}}毫克/立方米&nbsp;&nbsp;&nbsp;<br><br>
        <strong>PM10:</strong> {{about.pm10}}毫克/立方米&nbsp;&nbsp;&nbsp;<strong>臭氧:</strong> {{about.o3}}毫克/立方米&nbsp;&nbsp;&nbsp;
        <strong>AQI:</strong> {{about.aqi}}
      </br>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{about.lisite}}</h3>
    </div>
    <div class="panel-body">
      <p>
        昨日二氧化硫: <input type="text" ng-model="about.so2In" style="width: 5%">毫克/立方米&nbsp;&nbsp;&nbsp;
        昨日二氧化氮: <input type="text" ng-model="about.no2In" style="width: 5%">毫克/立方米&nbsp;&nbsp;&nbsp;
        昨日PM2.5: <input type="text" ng-model="about.pm25In" style="width: 5%">毫克/立方米&nbsp;&nbsp;&nbsp;<br><br>
        昨日PM10: <input type="text" ng-model="about.pm10In" style="width: 5%">毫克/立方米&nbsp;&nbsp;&nbsp;
        昨日臭氧: <input type="text" ng-model="about.o3In" style="width: 5%">毫克/立方米&nbsp;&nbsp;&nbsp;
      </p>
      <button type="button" class="btn btn-lg btn-success" ng-click="about.clickPredict()">点击进行预测</button>
      <h4>AQI预测值为 {{about.modelOutput}}</h4>
      <br>
      <div class="progress">
        <div class="progress-bar" role="progressbar"
             aria-valuemin="0" aria-valuemax="200" style="width: {{about.modelOutput}}%;">
        </div>
      </div>
    </div>
  </div>

  <p>
    <b>氮氧化物</b> <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="255" data-slider-step="1" data-slider-value="128" data-slider-id="RC" id="R" data-slider-tooltip="hide" data-slider-handle="square" />
  </p>
  <p>
    <b>烟尘</b> <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="255" data-slider-step="1" data-slider-value="128" data-slider-id="GC" id="G" data-slider-tooltip="hide" data-slider-handle="round" />
  </p>
  <p>
    <b>二氧化硫</b> <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="255" data-slider-step="1" data-slider-value="128" data-slider-id="BC" id="B" data-slider-tooltip="hide" data-slider-handle="triangle" />
  </p>
  <div id="RGB"></div>

  <br><br>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">空气质量达标限制</h3>
    </div>
    <div class="panel-body">
      <label style="font-size: 18px">AQI：</label>
      <input type="text" style="width: 5%; margin-top: 10px; display: inline-block">
      <br>
      <label style="font-size: 18px">二氧化硫：</label>
      <input type="text" style="width: 5%; margin-top: 10px; display: inline-block"> μg/m³&nbsp;
      <label style="font-size: 18px">二氧化氮：</label>
      <input type="text" style="width: 5%; margin-top: 10px; display: inline-block"> μg/m³&nbsp;
      <label style="font-size: 18px">PM2.5：</label>
      <input type="text" style="width: 5%; margin-top: 10px; display: inline-block"> μg/m³&nbsp;
      <br>
      <label style="font-size: 18px">PM10：</label>
      <input type="text" style="width: 5%; margin-top: 10px; display: inline-block"> μg/m³&nbsp;
      <label style="font-size: 18px">臭氧：</label>
      <input type="text" style="width: 5%; margin-top: 10px; display: inline-block"> μg/m³&nbsp;
    </div>
  </div>
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">工厂废气排放规划</h3>
    </div>
    <div class="panel-body">
      <div>
        <label style="font-size: 20px">太仓市协鑫发电厂:</label>
        <input type="range" ng-model="model.first" min="{{testOptions.min}}" step="{{testOptions.step}}"
               max="{{testOptions.max}}">
        <input type="text" style="width: 10%; margin-top: 10px; display: inline-block" ng-model="model.first" class="form-control">%
      </div>
      <div>
        <label style="font-size: 20px">玖龙纸业:</label>
        <input type="range" ng-model="model.second" min="{{testOptions.min}}" step="{{testOptions.step}}"
               max="{{testOptions.max}}">
        <input type="text" style="width: 10%; margin-top: 10px; display: inline-block" ng-model="model.second" class="form-control">%
      </div>
      <div>
        <label style="font-size: 20px">华能国际电力:</label>
        <input type="range" ng-model="model.third" min="{{testOptions.min}}" step="{{testOptions.step}}"
               max="{{testOptions.max}}">
        <input type="text" style="width: 10%; margin-top: 10px; display: inline-block" ng-model="model.third" class="form-control">%
      </div>
      <div>
        <label style="font-size: 20px">国华电力:</label>
        <input type="range" ng-model="model.fourth" min="{{testOptions.min}}" step="{{testOptions.step}}"
               max="{{testOptions.max}}">
        <input type="text" style="width: 10%; margin-top: 10px; display: inline-block" ng-model="model.fourth" class="form-control">%
      </div>
    </div>
  </div>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">经济总量及政府补偿</h3>
    </div>
    <div class="panel-body">
      <label style="font-size: 20px">太仓市经济总量：</label>
      <input type="text" value="{{10*model.first+10*model.second}}" style="width: 10%; margin-top: 10px; display: inline-block">亿元
      <br>
      <label style="font-size: 20px">政府补偿资金：</label>
      <input type="text" value="{{1*model.third+1*model.fourth}}" style="width: 10%; margin-top: 10px; display: inline-block">万元
    </div>
  </div>
</div>
