#RGB {
  height: 20px;
  background: rgb(128, 128, 128);
}
#RC .slider-selection {
  background: #FF8282;
}
#RC .slider-handle {
  background: red;
}
#GC .slider-selection {
  background: #428041;
}
#GC .slider-handle {
  background: green;
}
#BC .slider-selection {
  background: #8283FF;
}
#BC .slider-handle {
  border-bottom-color: blue;
}
#R, #G, #B {
  width: 300px;
}
input[type="range"] {
  -webkit-box-shadow: 0 1px 0 0px #424242, 0 1px 0 #060607 inset, 0px 2px 10px 0px black inset, 1px 0px 2px rgba(0, 0, 0, 0.4) inset, 0 0px 1px rgba(0, 0, 0, 0.6) inset;
  margin-top: 2px;
  border-radius: 15px;
  width: 400px;
  -webkit-appearance: none;
  height:10px;
  background-color: #00b3ee;
}
#AQI{
  -webkit-box-shadow: 0 1px 0 0px #424242, 0 1px 0 #060607 inset, 0px 2px 10px 0px black inset, 1px 0px 2px rgba(0, 0, 0, 0.4) inset, 0 0px 1px rgba(0, 0, 0, 0.6) inset;
  margin-top: 2px;
  border-radius: 15px;
  width: 400px;
  -webkit-appearance: none;
  height:10px;
  background: -webkit-linear-gradient(left, green, orange, red); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, green, orange, red); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, green, orange, red); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, green, orange, red); /* 标准的语法（必须放在最后）*/
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: default;
  top: -5px;
  height: 30px;
  width: 20px;
  transform: translateY(-4px);
  background: none repeat scroll 0 0 gray;
  border-radius: 15px;
  -webkit-box-shadow: 0 -1px 1px black inset;
}
